# Enable LP Core
CONFIG_ULP_PANIC_OUTPUT_ENABLE=y
CONFIG_ULP_COPROC_ENABLED=y
CONFIG_ULP_COPROC_TYPE_LP_CORE=y
CONFIG_ULP_HP_UART_CONSOLE_PRINT=y

# AMP
CONFIG_ESP_AMP_ENABLED=y
CONFIG_ESP_AMP_SUBCORE_TYPE_LP_CORE=y
CONFIG_ESP_AMP_SYSTEM_ENABLE_SUPPLICANT=y
CONFIG_ESP_AMP_ROUTE_SUBCORE_PRINT=y
CONFIG_ESP_AMP_SHARED_MEM_SIZE=20480

# LP Core Memory
CONFIG_ULP_COPROC_RESERVE_MEM=14500
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

# HP Core Memory
CONFIG_ESP_AMP_SUBCORE_USE_HP_MEM=y
CONFIG_ESP_AMP_SUBCORE_USE_HP_MEM_SIZE=49152

# Memory Optimisation
CONFIG_COMPILER_OPTIMIZATION_SIZE=y

CONFIG_OPTIMIZATION_ASSERTIONS_SILENT=y
# CONFIG_ULP_HP_UART_CONSOLE_PRINT=n
